[ TRANSPORT EN COMMUN ] Trajet en {{ ob.by_vehicle_route_id | get_transit_route_type }} {{ ob.by_vehicle_route_id | format_route_id }}; De : '{{ ob.departure_stop_name }}'; Vers : '{{ ob.arrival_stop_name }}'; Durée réelle : {{ ob.duration | duration_to_bucket_text }}.{% if weather %} Météo : {{ weather.temperature | int }}°C, {{ weather.weather_label }}.{% endif %}
